*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:20px 10%;
    text-align: center;
}

h1{
    margin-bottom: 30px;
    background-color: rgba(128, 128, 128, 0.418);
}

table{
        width: 100%;
        margin-bottom : 50px;
        table-layout: fixed;
}

th{
	font-weight: bold;
	background-color: #EEE;
    border: 1px solid #ccc;
}
td{
    border: 1px solid #ccc;
}

form{
    margin: 30px 0;
}

label{
    font-weight: bold;
    font-size: 18px;
}

input{
    height: 22px;
}

#nome{
    width: 300px;
    margin: 10px;
}

#qualidade, #absenteismo, #tma, #matricula{
    margin: 10px;
}

.botao{
    width: 150px;
    height: 30px;
    color: #fff;
	background-color:#727b80;
	border-color: #010f18;
    font-weight: bolder;
    cursor: pointer;
    /* margin: 30px 35%; */
}

.botton{
    text-align: center;
    margin-top: 30px;
}

footer{
    text-align: center;
}

@media(max-width: 500px){
    table{
        font-size: 10px;
    }

    
}

